.body{
margin: 0 !important;
padding-inline-end: 0;
}
ul{
padding: 0px!important;
}
.menu-principal{
width: 100%;
background-color: rgb(246, 36, 176);
height: 80px;
}
main{
margin: 0 auto;
width: 980px;
position:relative
}
.logo{
float: left;
padding: 8px;
width: 70%;
}
.redes-sociais ul li{
margin-left: 25px;
display: inline-block;
float: left;
}
.redes-sociais{
width: 20%;
float: right;
padding: 8px;
}
.header-2{
background-color: white;
width: 980px;
margin: 0 auto;
padding: 16px;
}
.menu ul li{
margin-left: 15px;
display: inline-block;
color: grey;
}
.menu ul li:hover{
border-bottom: 2px solid; color: rgb(247, 109, 183);
height: 35px;
}
.menu ul li a:hover{
    color: rgb(247, 109, 183);
}
.menu ul li a{
font-size: 16px;
text-decoration: none;   
color: grey;
}
.menu{
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 70%;
float: left;
}
.busca{
text-align: center;
width: 30%;
float: right;
}
.busca input{
background-position: 98%;
background-size: 23px;
background-image: url('../img/lupa.png');
background-repeat: no-repeat;
color: deeppink;
border: 2px solid; color: deeppink;
padding: 12px;
width: 190px;
height: 25px;
margin-top: 7px;
}
.col-100{
width: 100%;
float: left;
position: relative;
height: 70px;
border-bottom: 3px solid #868080
}
